* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #F1F5F9;
    color: #1E293B;
}

.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 420px;

    background: white;
    padding: 40px;

    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.080);
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 65px;
    height: 65px;

    margin: 0 auto 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #2563EB;
    border-radius: 16px;
    font-size: 30px;
}

.login-header h1 {
    font-size: 25px;
    margin-bottom: 8px;
}

.login-header p {
    color: #64748B;
    font-size: 14px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 13px 14px;
    border: 1px solid #CBD5E1;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

.form-group input:focus {
    border-color: #2563EB;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 45px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;

    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
}

.btn-login {
    width: 100%;
    padding: 14px;
    border: none;
    background: #2563EB;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.login-message {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}